<a href="https://colab.research.google.com/github/danielseagrass99-sys/beginning-bioinformatics-/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = ["Hello", "World", "Charles Darwin"]
print (my_list[1])

World

In [ ]:
my_list[2] = "Alfred R. Wallace"

In [ ]:
s = "HrIdUYrytQkUaMFJhhlh8zLzWm0BNEI3KatMJ9Q1rXhAllactagaeHoIwOXjFgR8DhoIjByCORy0xc0XEC1VaxA58bArAx9zrQdzzfJQyXjt7stOHi3b2TrPV9nrjRrQccLtWYXDJz8GdcXs2zxFx4mNR2zzmehelyiIMfLX3OFq3tFpGZsX040GS678N."
a, b, c, d = 43, 51, 156, 162

# Python slicing is exclusive of the stop index, so we add 1 to include the end index
slice1 = s[a : b + 1]
slice2 = s[c : d + 1]

print(slice1, slice2)

Allactaga mehelyi

In [ ]:
a=5
b=5
if a!=b:
  print (a-b)
else:
    print (a+b)

10

In [ ]:
#initiate a counter
a = 1

#print "Counting!" while a<=3
while a <= 3:

    print ("Counting!" * a)
    #a += 1

In [ ]:
print ("hello world")

hello world

In [ ]:
print ("hello world")

hello world

In [ ]:
x=5
print (x)

5

In [ ]:
a=924
b=856
c=a**2 + b**2
c

1586512

In [ ]:
# Example 1: Assigning an integer value to a variable
my_integer = 10
print(my_integer)

10

In [ ]:
# Example 2: Assigning a string value to a variable
my_string = "Hello, world!"
print(my_string)

Hello, world!

In [ ]:
# Example 3: Assigning the result of an expression to a variable
a = 5
b = 3
sum_result = a + b
print(sum_result)
hello="world"
print(hello)

8
world

In [ ]:
a=5
b=5
if a!=5:
  print (a-b)
else:
  print (a-b)

0

In [ ]:
names = ["Alice, Bob, Charlie"]
for name in names:
  print ("Hello", name)

Hello Alice, Bob, Charlie

In [ ]:
# Create a variable to define the  number of iterations
iterations = 10

#Print the current item's value each time through the loop
for number in range(iterations):
    print (number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a, b = 100, 200
total = 0
for i in range(a, b + 1):   # b+1 so b is included
    if i % 2 == 1:
        total += i
print(total)

7500

In [ ]:
a, b = 4247, 8880
total = 0
for i in range(a, b + 1):   # b+1 so b is included
    if i % 2 == 1:
        total += i
print(total)

15206471

In [1]:
names = ["Alice","Bob","Charley"]

for name in names:
    print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [6]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())

    #print(data.readlines())

FileNotFoundError: [Errno 2] No such file or directory: 'practice.txt'

In [5]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())

    #print(data.readlines(Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat))

SyntaxError: unmatched ')' (ipython-input-3375310216.py, line 14)

In [7]:
# Create a dummy file for demonstration purposes
with open("practice.txt", "w") as f:
    f.write("This is a practice file.\n")
    f.write("This is the second line.")

In [ ]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())

    #print(data.readlines())

In [9]:
def run():
    # open the file (put the text file in the same folder as this script)
    with open() as f:
        for lineno, line in enumerate(f, start=1):  # start=1 makes first line = 1
            if lineno % 2 == 0:  # even-numbered lines
                print(line.strip())

In [12]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())


    #print(data.readlines())

This is a practice file.
This is the second line.

In [14]:
with open("practice.txt","r") as data:

  list_of_lines=data.readlines()

print (list_of_lines)

['This is a practice file.\n', 'This is the second line.']

In [15]:
with open("practice_5.txt","r") as data:

  line=data.read()

for word in line.split():
    print (word)

FileNotFoundError: [Errno 2] No such file or directory: 'practice_5.txt'

In [18]:
with open(/content/rosalind_ini6.txt) as data:

  line=data.read()

for word in line.split():
    print (word)

This
is
a
practice
file.
This
is
the
second
line.

In [17]:
with open("practice_5.txt","r") as data:

  line=data.read(We tried list and we tried dicts also we tried Zen)

for word in line.split(We tried list and we tried dicts also we tried Zen):
    print (word)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-363556250.py, line 3)

In [20]:
with open("/content/rosalind_ini6.txt") as data:

  line=data.read()

for word in line.split():
    print (word)

When
I
find
myself
in
times
of
trouble
Mother
Mary
comes
to
me
Speaking
words
of
wisdom
let
it
be
And
in
my
hour
of
darkness
she
is
standing
right
in
front
of
me
Speaking
words
of
wisdom
let
it
be
Let
it
be
let
it
be
let
it
be
let
it
be
Whisper
words
of
wisdom
let
it
be
And
when
the
broken
hearted
people
living
in
the
world
agree
There
will
be
an
answer
let
it
be
For
though
they
may
be
parted
there
is
still
a
chance
that
they
will
see
There
will
be
an
answer
let
it
be
Let
it
be
let
it
be
let
it
be
let
it
be
There
will
be
an
answer
let
it
be
Let
it
be
let
it
be
let
it
be
let
it
be
Whisper
words
of
wisdom
let
it
be
Let
it
be
let
it
be
let
it
be
let
it
be
Whisper
words
of
wisdom
let
it
be
And
when
the
night
is
cloudy
there
is
still
a
light
that
shines
on
me
Shine
until
tomorrow
let
it
be
I
wake
up
to
the
sound
of
music
Mother
Mary
comes
to
me
Speaking
words
of
wisdom
let
it
be
Let
it
be
let
it
be
let
it
be
yeah
let
it
be
There
will
be
an
answer
let
it
be
Let
it
be
let
it
be
let
it
be
yeah
let
it
be
Whisper
words
of
wisdom
let
it
be

In [ ]:
with open("practice_5.txt","r") as data:

  line=data.read()

for word in line.split():
    print (word)

In [21]:
sequences = {
    "H.neandertalensis":"ACGTCGCTCTGCTA",
    "H.sapiens":"ACGTCACTCTGCTA"
    }

print (sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA'}

In [22]:
sequences["P.troglodytes"]="ACGTCACTCTCCTA"

sequences.update({"G.gorilla":"ACGTCCTCCTA", "H.erectus":"ACGTCACTCTGCTA"})

print (sequences["H.sapiens"])

for key,value in sequences.items():
     print (key,value)

ACGTCACTCTGCTA
H.neandertalensis ACGTCGCTCTGCTA
H.sapiens ACGTCACTCTGCTA
P.troglodytes ACGTCACTCTCCTA
G.gorilla ACGTCCTCCTA
H.erectus ACGTCACTCTGCTA